.about-stack{
    margin-top: 60px;
    display: grid;
    margin: 50px 0px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 15px;
    justify-content: center;
}

.img-wrapper{
    margin-bottom: 20px;
}

.about-stack .card-middle{
    margin: 20px 0;
}
.about-stack .card-middle ul,
.about-stack .card-bottom ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-stack .card-middle li,
.about-stack .card-bottom li{
    margin: 0 5px;
    font-size: 2rem;
}


@media only screen and (max-width: 992px){

}

@media only screen and (max-width: 767px){

    .about-stack{
        margin-top: 60px;
        display: grid;
        margin: 50px 0px 0px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        gap: 15px;
        justify-content: center;
    }
}