footer {
  padding: 30px 0;
  text-align: center;
}

footer .social-networks {
  position: fixed;
  display: none;
  bottom: 0px;
  left: 40px;
  right: auto;
}



footer .social-networks ul {
  position: relative;
  padding-bottom: 100px;
}
footer .social-networks ul::after {
  position: absolute;
  content: "";
  height: 90px;
  background-color: #ccd6f6;
  width: 1px;
  bottom: 0;
  left: 20px;
}

footer .social-networks a {
  color: #ccd6f6;
  padding: 10px;
  display: block;
}

footer .social-networks svg {
  height: 25px;
  width: 25px;
}

@media only screen and (max-width: 768px) {
  footer .social-networks {
    position: relative;
    display: flex;
    justify-content: center;
    left: auto;
  }

  footer .social-networks ul{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
  }

  footer .social-networks ul::after{
    content: none;
  }

}
