* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1300px;
}

svg {
  height: 70px;
  width: 70px;
}

.slider-wrapper {
  padding: 50px;
  background-color: black;
}
.slider-wrapper .container {
  margin: auto;
  width: 1600px;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-wrapper svg {
  fill: #4fb5a9;
}

.icon-wrapper svg path {
  fill: #4fb5a9;
}

.icon-wrapper p {
  color: #4fb5a9;
}

.slick-track > div {
  margin: 0 30px;
  border: 1px solid #4fb5a9;
  border-radius: 5px;
  padding: 5px;
}


.hero-section {
  height: 100vh;
}
.hero-section > div.flex{
  height: calc(100vh - 204.5px);
}


.hero-section-text,
.hero-section-image{
  width: 50%;
}
.hero-section-img-wrapper{
height: 300px;
width: 300px;
overflow: hidden;
border-radius: 6px;
}
.hero-section-img-wrapper img{
height: 100%;
width: 100%;
object-fit: cover;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.section-padding {
  padding: 100px 0;
}

h1 {
  font-size: 90px;
  font-weight: 500;
  color: #4fb5a9;
  line-height: 1;
  margin-bottom: 30px;
}

.hero-section-text-content {
  width: 60%;
  text-align: center;
}

.hero-section-text,
.hero-section-image {
  background-color: #000000;
}

.hero-section-text h3 {
  color: #4fb5a9;
  font-weight: 400;
  font-size: 20px;
}
