* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 10px;
}

body{
color: #4fb5a9;
font-size: 2.4rem;
font-weight: 400;
line-height: 1.27;
letter-spacing: .88px;
font-family: 'Chillax'
}

 h1{ 
font-size: 9rem;
font-weight: 300;
line-height: 1.1;
margin-bottom: .3em;
}

 h2{
font-size: 6rem;
font-weight: 300;
line-height: 1.25;
margin-bottom: .5em;
 }

 h3{
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.32;
  margin-bottom: .8em;
 }

 h4{}
 h5{}
 h6{}

 ul{
  list-style: none;
 }


.container {
  max-width: 1300px;
  margin: auto;
}

.section{
  background-color: #000000;
}

svg {
  height: 70px;
  width: 70px;
}

.text-center{ text-align: center;}


.slider-wrapper {
  padding: 50px;
  background-color: black;
}
.slider-wrapper .container {
  margin: auto;
  width: 1600px;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-wrapper svg {
  fill: #4fb5a9;
}

.icon-wrapper svg path {
  fill: #4fb5a9;
}

.icon-wrapper p {
  color: #4fb5a9;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.section-padding {
  padding: 100px 0;
}

.slick-track > div {
  margin: 0 30px;
  border-radius: 5px;
  padding: 5px;
}








.hero-section {
  height: 100vh;
}
.hero-section > div.flex{
  height: calc(100vh - 204.5px);
}


.hero-section-text,
.hero-section-image{
  width: 50%;
}
.hero-section-img-wrapper{
height: 300px;
width: 300px;
overflow: hidden;
border-radius: 6px;
}
.hero-section-img-wrapper img{
height: 100%;
width: 100%;
object-fit: cover;
}

.hero-section-text-content {
  width: 60%;
  text-align: center;
}

.hero-section-text,
.hero-section-image {
  background-color: #000000;
}

.hero-section-text h3 {
  color: #4fb5a9;
  font-weight: 400;
  font-size: 20px;
}
